body {
    font-family: 'Roboto', sans-serif;
    background-color: #A0DEFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #333;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-container {
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    position: relative;
}

header {
    background-color: #f07109;
    color: white;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.logout-content {
    padding: 20px;
}

.logout-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.logout-buttons {
    display: flex;
    justify-content: space-around;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.confirm-button {
    background-color: #f07109;
    color: white;
}

.confirm-button:hover {
    background-color: #d65d07;
}

.cancel-button {
    background-color: #ccc;
    color: black;
}

.cancel-button:hover {
    background-color: #aaa;
}
